.hero-section {
    /* background: var(--grey); */
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/people-office.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

.main-title {
    max-width: 496px;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-text);
    text-align: center;
    color: var(--white);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    margin: 0 auto;
}

.button {
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    background-color: var(--iris);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-body);
    line-height: var(--line-height-body);
    letter-spacing: var(--letter-spacing-action);
    color: var(--white);
    border: none;
    transition: background-color var(--transition);
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
}
